.col-center{
    text-align: -webkit-center !important;
}
.row-msg-error-json{
    border: 2px solid rgb(174, 174, 174);
    border-radius: 15px;
    margin: 0px 220px !important;
    padding: 20px 0px 40px 0px;
}