table th {
    white-space: nowrap;
    vertical-align: middle;
  }
  
  table td {
    font-size: 0.85rem;
  }
  
  thead tr:nth-child(1) th {
    background-color: #f8f9fa;
  }
  
  thead tr:nth-child(2) th {
    background-color: #fcfcfc;
  }
  