.col-valores {
    border: 1px solid rgba(84, 84, 84, 0.469);
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.encabezados-panel{
    font-size: 18px;
}
.t-panel{
    line-height: 1.3;
}
.dato-panel{
    color: rgb(11, 90, 209);
    font-weight: 500;
}


/**
const ref = useRef(null);
  const [isVisible, setIsVisible] = useState(false);

  useEffect(() => {
    const observer = new IntersectionObserver(
      ([entry]) => setIsVisible(entry.isIntersecting),
      { threshold: 0.3 } // 0.3 = se activa cuando el 30% del componente es visible
    );

    if (ref.current) observer.observe(ref.current);

    return () => observer.disconnect();
  }, []);
*/